@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";







  
.slick-dots li button:before {
  font-size: 12px;
  color: rgb(194, 186, 186);
  transition: 0.3s;
}

.slick-dots li:hover button:before {
  color: rgb(255, 123, 0);
  transform: scale(1.1);
}


.slick-dots{
    bottom: 20px !important ;
}